<!-- <div class = "background">
<div class="dashboard-container">
    <h1 class="title">Welcome to HealthCare Management System</h1>
  
    <div class="button-container">
      <button class="nav-button" (click)="navigateTo('hospitals')">Hospitals</button>
      <button class="nav-button" (click)="navigateTo('doctors')">Doctors</button>
      <button class="nav-button" (click)="navigateTo('patients')">Patients</button>
      <button class="nav-button" (click)="navigateTo('appointments')">Appointments</button>
      <button class="nav-button" (click)="navigateTo('reviews')">Reviews</button>
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>
</div> -->

<div class="background">
  <div class="dashboard-container">
    <h1 class="title">Welcome to HealthCare Management System</h1>
    <p class="description">
      Streamlining healthcare operations to improve patient outcomes and optimize management processes. 
      Use the navigation below to access different sections of the system.
    </p>

    <div class="button-container">
      <!-- <button class="nav-button" (click)="navigateTo('hospitals')">Hospitals</button> -->
      <button class="nav-button" (click)="navigateTo('doctors')">Doctors</button>
      <!-- <button class="nav-button" (click)="navigateTo('patients')">Patients</button> -->
      <button class="nav-button" (click)="navigateTo('newAppointment')">Appointments</button>
      <button class="nav-button" (click)="navigateTo('newReview')">Reviews</button>
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>
</div>

  